<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deepak dev</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" href="favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Itim&family=Merriweather&family=Montserrat:ital,wght@1,300&family=Sacramento&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="top-container">
      <img class="top-cloud" src="images/cloud.png" alt="cloud" />
      <h1>i'm Deepak</h1>
      <h2>a programmer</h2>
      <img class="bottom-cloud" src="images/cloud.png" alt="cloud" />
      <img src="images/mountain.png" alt="mountain" />
    </div>
    <div class="middle-container">
      <div class="profile">
        <img class="dp" src="images/dp.jpg" alt="" />
        <h2>Hello.</h2>
        <p class="intro">
          hey everyone , i am a web devloper and also a reader and a writer
        </p>
      </div>
      <hr />
      <div class="skills">
        <h2>My Skills.</h2>
        <div class="skill-row">
          <img class="i" src="images/computer.png" alt="" />
          <h3 class="heading">techniacal skills</h3>
          <p class="des">
            c,c++,python, data analysis, R language, front-end web devloper, i
            want to contrubute to the world by my skills in web dev and web
            desing and also in data analysis, just finding a place where i might
            feel i belong.
          </p>
        </div>
        <div class="skill-row">
          <img class="im" src="images/computer.png" alt="" />
          <h3 class="heading">non-technical skills</h3>
          <p class="des1">
            i am a writer, content writing, technical writing and creative
            writing, i have wriiten poems which has been publish in anthologies,
            people most of the time can relate to my style of writing and
            understand the feeling behind it.
          </p>
        </div>
      </div>
      <hr />
      <div class="contact-me">
        <h2>Get In Touch</h2>
        <h3>let sit and talk about somthing along the way.</h3>
        <p>
          being in a community where you find people with similer interest can
          be great.
        </p>
        <a class="btn" href="mailto:deepakthedev@gmail.com">CONTACT ME</a>
      </div>
    </div>

    <div class="bottom-container">
      <a class="footer-link" href="www.linkedin.com/in/deepak-kumar-0c"
        >LinkedIn</a
      >
      <a class="footer-link" href="https://github.com/deepak338">github</a>
      <p class="copyright">© 2023 Deepak choudhary.</p>
    </div>
  </body>
</html>