{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hi there! I'm Deepak Kumar, a passionate and dedicated Data Analyst.
          My journey in Data Analysis has been driven by curiosity and a deep
          fascination for data exploration and data visualization. I thrive on
          solving complex problems and believe in the power of data-driven
          decisions.
        </p>

        <p>
          With a background in information technology, I have honed my skills in
          SQL, BI tools, Excel, R, and Python programming. From data analysis
          and visualization to writing and web development, I enjoy exploring
          diverse aspects of data analysis.
        </p>

        <p>
          <img
            src="https://s3-us-west-2.amazonaws.com/secure.notion-static.com/87b76874-02b3-4827-a1be-3743a5851eaf/laptop_(1).png"
            alt="Laptop Image"
          />
        </p>

        <p>
          I am also a certified Google Analytics professional, equipped with the
          knowledge to harness the potential of web analytics to drive
          meaningful insights. Leveraging Google Analytics, I have successfully
          optimized online strategies and improved user experiences.
        </p>

        <p>
          Let's connect and explore how we can collaborate on exciting projects.
          I look forward to making a difference together!
        </p>

        <p>
          Feel free to reach out via email at
          <a href="mailto:deepakthedev@gmail.com">deepakthedev@gmail.com</a>
        </p>

        <p>Looking forward to connecting,<br />Deepak Kumar</p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
